$seat-space-bg: #191919;

.card {
    background-color: #212121;
    border-radius: 0;

    .form-check {
        display: inline-flex;
    }
}

.jumbotron{
    margin-top: 0 !important;
    background-color: $seat-space-bg !important ;
    padding: 15px 30px 40px 30px !important;
    border-radius: 15px;
	width: 90%;
}