<div *ngIf="movie">
  <div class="movie-backdrop" [ngStyle]="{ 'background-image': 'url(' + movie.backdrop + ')' }"></div>
  <div class="container">
    <div class="movie-data row">
      <div class="col-md-4">
        <div class="movie-poster">
          <img [src]="movie.poster" [alt]="movie.title" class="img-fluid">
        </div>
      </div>
      <div class="col-md-8">
        <h2 class="movie-title">{{ movie.title }}</h2>
        <div class="movie-info" *ngIf="!showTicketSelection">
          <p class="movie-overview">{{ movie.overview }}</p>
          <div class="movie-meta">
            <span class="movie">
              <dt>Director:</dt>
              <dd>{{ movie.director }}</dd>
            </span>
            <span class="movie-meta-cast">
              <dt>Protagonistas:</dt>
              <dd>{{ movie.cast | join: ", " }}</dd>
            </span>
            <span class="movie-meta-runtime">
              <dt>Duración:</dt>
              <dd>{{ movie.runtime | minute}}</dd>
            </span>
            <span class="movie-meta-movieshows">
              <dt>Funciones:</dt>
            </span>
            <button type="button" class="btn btn-outline-warning m-2" (click)="setSelectedDate($event.target.value)" *ngFor="let day of nextMovieShowsDays" value="{{day}}">{{day}}</button>
            <div class="card card-body  mt-3" *ngIf="movieShows.length != 0">
              <div class="card-title">Funciones del día {{selectedDate}}</div>
              <!-- TODO: Ver como le enviamos el id de la funcion al selector de asientos -->
              <a *ngFor="let s of getMovieShowsByDate()" (click)="showTicketSelection = true">{{s.time + ' hs - ' + s.type }}</a>
            </div>
          </div>
        </div>
        <app-ticket-select *ngIf="showTicketSelection" (cancel)="showTicketSelection = false"></app-ticket-select>
      </div>
    </div>
    <app-spinner></app-spinner>
  </div>
  
