<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h2>Nuestros complejos!</h2>
            <hr>
        </div>
    </div>

    <div class="row" *ngFor="let c of cinemas">
        <div class="col-md-3 col-sm-6 mb-3" >
            <div class="cover">
                <img [src]="m.poster" class="img-fluid">
            </div>
        </div>

        <div class="col mb-3">
            <span class="subtitle">{{c.name}}</span>
            <p class="mt-4">{{m.address}}</p>
        </div>
        <hr>
    </div>
</div>
<app-spinner></app-spinner>
