<div class="container">
    <div class="row mt-5">
        <div class="col-12">
            <h2>Nuestros complejos!</h2>
            <hr>
        </div>
    </div>

    <div class="row" *ngFor="let c of cinemas">
        <div class="col-md-6 mb-3" >
            <div id="map_{{c.id}}"  class="map"></div>
        </div>

        <div class="col-md-6 mb-4">
            <span class="subtitle">{{c.name}}</span>
            <p class="mt-4">{{c.address}}</p>
            <p class="mt-3">Horario de atención: De {{c.schedule}}</p>
            <!-- <p><a class="mt-3 " href="tel:{{c.phone}}">Llamanos! <i class="fas fa-phone"></i> {{c.phone}} </a></p> -->
            <p><a (click)="navigateToBillboard(c.id)">Ver cartelera de este complejo</a></p>
        </div>
        <hr>
    </div>
</div>
<app-spinner></app-spinner>
