.demo-container {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
}

.form-container {
    text-align: left;
}

form {
    margin: 30px;
}

input, select {
    width: 300px;
    margin: 10px auto;
    display: block;
}