<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#homeCarousel" [attr.data-bs-slide-to]="b" [ngClass]="{'active' : isFirst }"
      *ngFor="let b of bullets; first as isFirst"></button>
  </div>
  <div class="carousel-inner">
    <div [ngClass]="{ 'carousel-item' : true , 'active' : isFirst }" [attr.data-bs-interval]="carouselConfig.interval"
      *ngFor="let m of selectedMovies; first as isFirst">
      <img src="{{m.backdrop}}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>