<div class="row jumbotron mt-4 mx-auto">
        <div class="ticket mt-4 mx-auto">
            <div class="holes-top"></div>
            <div class="title mt-5">
                <h4>{{reservation.movie.title}}</h4>
            </div>
            <div class="poster">
                <img src="{{reservation.movie.poster}}" alt="..." />
            </div>
            <div class="info">
                <h6>{{reservation.cinema.name}}</h6>
                <table>
                    <tr>
                        <th>SALA</th>
                        <th>FECHA</th>
                        <th>HORA</th>
                    </tr>
                    <tr>
                        <td>{{reservation.saloonNumber}}</td>
                        <td>{{reservation.movieShow.date.substring(0,5)}}</td>
                        <td>{{reservation.movieShow.time}}</td>
                    </tr>
                </table>
                <hr>
                <h6><b>BUTACAS:&nbsp;&nbsp;</b>{{reservation.seats.join('-')}}</h6>
                <h5><b>TOTAL:&nbsp;&nbsp;</b>{{reservation.totalAmount | currency}}</h5>
            </div>
            <div class="holes-lower"></div>
            <img src="../../../../assets/img/QR.png" class="img-fluid Qr">
            <p>TRX: {{reservation.id}}</p>
        </div>
</div>