// Variables
$background-color: #191919; // #191919 ;
$width: 280;
$circle-size: 50;

.img-fluid {
	max-width: 70%;
}

.jumbotron{
	margin-top: 0 !important;
    background-color: $background-color !important ;
    padding: 0px 30px 40px 30px !important;
    border-radius: 15px;
	width: $width + 100px;
}

body {
	background-color: $background-color;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 600;
}

img {
	max-width: 90%;
	height: auto;
}

.ticket {
	width: $width + px;
	height: auto;
	padding-bottom: 30px !important;
	background-color: white;
	position: relative;
	color: black;
}

.holes-top {
	height: $circle-size + px;
	width: $circle-size + px;
	background: $background-color;
	border-radius: 50%;
	position: absolute;
	left:50%;
	margin-left: ($circle-size / -2) + px;
	top: ($circle-size / -2) + px;
	&:before,
	&:after {
		content: '';
		height: $circle-size + px;
		width: $circle-size + px;
		background: $background-color;
		position: absolute;
		border-radius: 50%;
	}
	&:before {
		left: ($width / -2) + px;
	}
	&:after {
		left: ($width / 2) + px;
	}
}

.holes-lower {
	height: $circle-size + px;
	width: $circle-size + px;
	background: $background-color;
	border-radius: 50%;
	position: absolute;
	left:50%;
	margin-left: ($circle-size / -2) + px;
	bottom: ($circle-size / -2) + px;
	&:before,
	&:after {
		content: '';
		height: $circle-size + px;
		width: $circle-size + px;
		background: $background-color;
		position: absolute;
		border-radius: 50%;
	}
	&:before {
		left: ($width / -2) + px;
	}
	&:after {
		left: ($width / 2) + px;
	}
	// position: relative;
	// margin:15px;
	// border:1px dashed #aaa;
	// &:before,
	// &:after {
	// 	content: '';
	// 	height: $circle-size + px;
	// 	width: $circle-size + px;
	// 	background: $background-color;
	// 	position: absolute;
	// 	border-radius: 50%;
	// }
	
	// &:before {
	// 	top: -25px;
	// 	left: ($circle-size / -1) + px;
	// }
	// &:after {
	// 	top: -25px;
	// 	left: ($width - $circle-size) + px;
	// }
}

.info {
	padding: 10px;
}

table, td, th, tr {
    color: #000 !important;
}

table {
	width: 100%;
	font-size: 16px;
	table-layout: fixed !important;
	tr {
		margin-bottom: 10px;
	}
		
	td {
		width: calc(100%/3) !important;
	}
}

.Qr{
	width: 100px;
	height: auto;
}
