<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="drawSeats()">
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="color-primary" *ngIf="typeOperation === 'nuevo'">Nueva sala</h3>
            <h3 class="color-primary" *ngIf="typeOperation !== 'nuevo'">Editar sala</h3>
            <hr class="color-primary">
        </div>
        <div class="col-md-12">
            <h5>Layout</h5>
        </div>
            <div class="col-md-2 mt-4">
                <label for="width" class="form-label">Filas</label>
                <input type="text" class="form-control" id="width" autocomplete="off" formControlName="height">
            </div>
            <div class="col-md-2 mt-4">
                <label for="width" class="form-label ">Columnas</label>
                <input type="text" class="form-control" id="width" autocomplete="off" formControlName="width">
            </div>
            <div class="col-md-2 mt-4 d-flex">
                <button class="btn btn-primary align-self-end">Dibujar</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-lg-12 seat-container">
            <div *ngFor="let seatrow of saloonService.seatmap ">
                <div class="col-12 pricing-label"
                    *ngIf="saloonService.seatChartConfig?.showRowWisePricing && seatrow.seatPricingInformation != ''">
                    {{seatrow.seatPricingInformation}}</div>
                <div class="seatrow container">
                    <div *ngIf="saloonService.seatChartConfig?.showRowsLabel">
                        <div class="row-label"> {{seatrow.seatRowLabel}} </div>
                    </div>
                    <div *ngFor="let seatobj of seatrow.seats">
                        <div class="seat-item seat-space" style="color:white ; background-color:white"
                            *ngIf="seatobj.seatLabel == ''"> &nbsp; </div>
                        <div tooltip="Seat : {{seatobj.seatLabel}} | Price : {{seatobj.price}}Rs" placement="top"
                            [ngClass]="{ 'seat-item' : true , 'seat-available' : seatobj.status == 'available' ,'seat-booked' : seatobj.status == 'booked' ,'seat-unavailable' : seatobj.status == 'unavailable' }"
                            (click)="saloonService.selectSeat(seatobj)"
                            *ngIf="(seatobj.status == 'available' || seatobj.status == 'booked' )&& seatobj.seatLabel != ''">
                            {{seatobj.seatNo}}</div>

                        <div tooltip="Seat not available" placement="top"
                            [ngClass]="{ 'seat-item' : true , 'seat-unavailable' : true }"
                            *ngIf="seatobj.status == 'unavailable' && seatobj.seatLabel != ''">{{seatobj.seatNo}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>