<div class="container">
    <form [formGroup]="formGroup" (ngSubmit)="editUser()">
        <div class="row mt-5">
            <div class="col-md-12">
                <h3 class="color-primary">Perfil</h3>
                <hr class="color-primary">
                <h5>Datos de usuario</h5>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3 mb-4">
                        <span>NOMBRE</span>
                    </div>
                    <div class="col-md-9 mb-4">
                        <input type="text" class="form-control" formControlName="name">
                    </div>
                    <div class="col-md-3 mb-4">
                        <span>APELLIDO</span>
                    </div>
                    <div class="col-md-9 mb-4">
                        <input type="text" class="form-control" formControlName="surname">
                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <!-- <div class="col-md-3 mb-4">¿CUÁL ESTU CINE DE PREFERENCIA?</div>
                    <div class="col-md-9 mb-4">
                        <select class="form-select" formControlName="cinemaPreference">
                            <option value="">Seleccione un cine</option>
                            <option *ngFor="let c of cinemas" [value]="c.id">{{c.location}}</option>
                        </select>
                    </div> -->
                    <div class="col-md-3 mb-4">
                        <span>DOCUMENTO</span>
                    </div>
                    <div class="col-md-9 mb-4">
                        <input type="number" class="form-control" formControlName="document">
                    </div>
                    <div class="col-md-3 mb-4">EMAIL</div>
                    <div class="col-md-9 mb-4">
                        <input type="email" class="form-control" formControlName="email">
                    </div>
                </div>
            </div>
            <!-- <hr class="color-primary mt-5">
            <div class="col-md-12 d-flex justify-content-end">
                <button class="btn btn-primary">Guardar</button>
            </div> -->
        </div>
    </form>
    <div class="row mt-5">
        <div class="col-md-12">
            <h3 class="color-primary">Tickets</h3>
            <hr class="color-primary">
        </div>
        <ng-container *ngFor="let t of transactions; let i = index">
            <div class="card card-ticket col-md-2 ms-2" *ngIf="t.state !== 'Canceled'">
                <div class="card-body">
                    <h5 class="card-title">{{t.movie.title}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{t.movieShow.type}}</h6>
                    <p class="card-text mt-3"><i class="far fa-calendar-alt me-2"></i>{{t.movieShow.date +' '+
                        t.movieShow.time}}</p>
                    <p class="card-text"><i class="fas fa-map-marker-alt me-2"></i>{{t.cinema.name}}</p>
                    <p class="card-text mb-4"><i class="fas fa-ticket-alt me-2"></i>{{getSeatsLength(i)}}</p>
                    <a class="card-link" (click)="downloadTickets(t)">Descargar QR</a>
                    <a class="card-link color-red" *ngIf="isCancellable(t)" (click)="orderRepayment(t)">Devolución</a>
                </div>
            </div>
        </ng-container>
    </div>
</div>

<div id="qr_code"></div>

<app-spinner></app-spinner>