<div class="container">
    <div class="row mt-5">
      <div class="col-md-12 mb-5">
        <h3 class="color-primary">Salas</h3>
        <hr class="color-primary">
      </div>
      <div class="col-md-12 mb-5">
        <button class="btn btn-primary float-end" (click)="navigateTo('manager/saloon-data/nuevo')"><i class="fas fa-plus"></i> Añadir</button>
      </div>
        <div class="col-md-12">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Piso</th>
                    <th scope="col">Número</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Butacas</th>
                    <th scope="col">Layout</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of saloons">
                    <td>{{s.floor}}</td>
                    <td>{{s.number}}</td>
                    <td>{{s.type}}</td>
                    <td>{{s.seats}}</td>
                    <td><i class="fas fa-pen-square fa-2x cursor-pointer" (click)="navigateTo('manager/saloon-data/' + s.id)"></i></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>