
    .bg-dark {
        background: #000 !important;
    }

    .dropdown-menu {
        background: #000 !important;
        border-color: rgba(255,255,255,.55);
        .dropdown-item{
            color: rgba(255,255,255,.55);
        }
        .dropdown-item:hover{
            color: #ffc107;
            background: transparent;
        }
    }