<div class="movie-info">
    <p class="capitalize">{{dataService.reservation.movieShow.type}}</p>
    <div class="row mt-4">
        <div class="col-md-1">
            <i class="fas fa-map-marker-alt fa-4x"></i>
        </div>
        <div class="col-md-11" *ngIf="cinema">
            <div class="row">
                <div class="col-md-12">
                    <b>{{cinema.name}}</b>
                </div>
                <div class="col-md-12">
                    Sala {{dataService.reservation.saloonNumber}}
                </div>
                <div class="col-md-12">
                    {{cinema.address}}
                </div>
            </div>
        </div>
    </div>

    <p class="mt-4" style="font-weight: bold">
        <i class="far fa-calendar-alt me-2"></i>
        {{getDateDescription()}}
    </p>

    <div class="input-group">
        <input type="text" class="form-control" value="{{ticketQuantity + ' ENTRADA(S) - $' + getSubTotal()}}" readonly>
        <div class="controles">
            <button class="btn btn-outline-secondary btn-amount" type="button" (click)="subsTicket()"><i
                    class="fas fa-minus-circle fa-2x"></i></button>
            <button class="btn btn-outline-secondary btn-amount" type="button" (click)="addTicket()"><i
                    class="fas fa-plus-circle fa-2x"></i></button>
        </div>

    </div>
    <div class="row mt-4">
        <div class="col-md-9">
            <p>Subtotal</p>
            <p>Cargo por servicio</p>
            <p>Total</p>
        </div>
        <div class="col-md-3">
            <p>{{'$' + getSubTotal()}}</p>
            <p>{{'$' + serviceValue}}</p>
            <p>{{'$' + getTotal()}}</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <button class="btn btn-outline-primary" (click)="cancel.emit(false)">VOLVER</button>
            <button class="btn btn-primary ms-3" (click)="navigateToSeatSelection()">SIGUIENTE</button>
        </div>
    </div>
</div>