/* You can add global styles to this file, and also import other style files */
body {
    background: linear-gradient(to bottom,#191919 0,#000 100%) no-repeat #000;
    color: rgba(255, 255, 255, 0.75);
}

a {
    color: #777;
    transition: all 0.4s;
    text-decoration: none;

    &:hover {
        color: #ffc107 !important;   
    }
}

.navbar-nav .nav-link.active {
   color: #ffc107 !important;
}

select.form-select {
    background-color: #131313;
    color: #fff;
    border-radius: 0;
    border-color: #ffc107;
    cursor: pointer;
}



