<div class="row mt-5">
    <div class="offset-md-8 col-md-4">
          <app-cinema-select></app-cinema-select>
    </div>
    <div class="col-12">
        <h2>Últimos estrenos</h2>
        <hr>
    </div>
    <div class="col-md-3 col-sm-6 mb-5" *ngFor="let m of movies">
        <div class="cover" (click)="navigateToDetail(m.id)">
            <img [src]="m.poster" class="img-fluid">
            <span class="subtitle">{{m.title}}</span>
        </div>
    </div>
</div>
<app-spinner></app-spinner>