<div class="row mt-5">
    <div class="col-12">
        <h2>Últimos estrenos</h2>
        <hr>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="cover">
            <img src="https://atlasservidor.s3-sa-east-1.amazonaws.com/artes_peliculas/Banners/GODZILLA.jpg" class="img-fluid">
            <span class="subtitle">Godzilla</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="cover">
            <img src="https://atlasservidor.s3-sa-east-1.amazonaws.com/artes_peliculas/Banners/GODZILLA.jpg" class="img-fluid">
            <span class="subtitle">Godzilla</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="cover">
            <img src="https://atlasservidor.s3-sa-east-1.amazonaws.com/artes_peliculas/Banners/GODZILLA.jpg" class="img-fluid">
            <span class="subtitle">Godzilla</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="cover">
            <img src="https://atlasservidor.s3-sa-east-1.amazonaws.com/artes_peliculas/Banners/GODZILLA.jpg" class="img-fluid">
            <span class="subtitle">Godzilla</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="cover">
            <img src="https://atlasservidor.s3-sa-east-1.amazonaws.com/artes_peliculas/Banners/GODZILLA.jpg" class="img-fluid">
            <span class="subtitle">Godzilla</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="cover">
            <img src="https://atlasservidor.s3-sa-east-1.amazonaws.com/artes_peliculas/Banners/GODZILLA.jpg" class="img-fluid">
            <span class="subtitle">Godzilla</span>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="cover">
            <img src="https://atlasservidor.s3-sa-east-1.amazonaws.com/artes_peliculas/Banners/GODZILLA.jpg" class="img-fluid">
            <span class="subtitle">Godzilla</span>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="cover">
            <img src="https://atlasservidor.s3-sa-east-1.amazonaws.com/artes_peliculas/Banners/GODZILLA.jpg" class="img-fluid">
            <span class="subtitle">Godzilla</span>
        </div>
    </div>
</div>