.poster{
  width: 400px;
  height: auto;
}

.card-body {
  background: #000 !important;
  border-color: rgba(255,255,255,.55);
}

.form-check-input:checked {
  background-color: #94824B;
  border-color: #94824B;
}

.jumbotron{
  background-color: inherit ;
  border-style: solid;
  border-width: 2px;
  border-color: #ffc107 ;
}

.btn-link{
  color: white
}